on: push

name: Jira Login

jobs:
  build:
    runs-on: ubuntu-latest
    name: Jira Login
    steps:
    - name: Login
      uses: atlassian/gajira-login@master
      env:
        JIRA_BASE_URL: https://kwasfit.atlassian.net
        JIRA_USER_EMAIL: jenniferakwas@gmail.com
        JIRA_API_TOKEN: ${{ secrets.JIRA_LOGIN_ACTION_API_TOKEN }}
