on: pull_request

name: Jira Login

jobs:
  build:
    runs-on: ubuntu-latest
    name: Jira Login
    steps:
    - name: Login
      uses: atlassian/gajira-login@master
      env:
        JIRA_BASE_URL: https://kwasfit.atlassian.net
        JIRA_USER_EMAIL: jenniferakwas@gmail.com
        JIRA_API_TOKEN: ${{ secrets.JIRA_LOGIN_ACTION_API_TOKEN }}
        
    - name: Jira Create
      id: create
      uses: atlassian/gajira-create@master
      with:
        project: TEST
        issuetype: Story
        summary: |
          ${{ github.base_ref }} needs approval
        description: |
          Here is where we'd link an approval framework to reference before approving the PR in Github
        #I got an error trying to populate story points below. Come back to this.
        #fields: '{"customFieldId=10016": "1"}'

    - name: Log created issue
      run: echo "Issue ${{ steps.create.outputs.issue }} was created"
